<ion-header>
  <ion-toolbar>
    <ion-title>Samsung Galaxy J7</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row class="ion-justify-content-center align-items-center style='height: 100%'">
          <ion-col size="5">
          <div>
            <img src="/assets/galaxy j7.jpg" alt="" />
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-row class="ion-justify-content-center align-items-center style='height: 100%'">
      <p>Samsung Galaxy J7</p>
      <p>
        Spesifikasi Samsung Galaxy J7
Jaringan 2G	GSM 850 / 900 / 1800 / 1900 – SIM 1 & SIM 2 (optional)
Jaringan 3G	HSDPA 850 / 900 / 1900 / 2100 – J700F, J700H
Jaringan 4G	LTE band 1(2100), 3(1800), 5(850), 7(2600), 8(900), 20(800), 40(2300) – J700F (India, Thailand)
Layar	5.5 inches, 720 x 1280 pixels (~267 ppi pixel density)
Jenis layar	TFT capacitive touchscreen, 16M colors
Lain-lain	– Multitouch
– Capacitive
– warna = Black, White, Golden
Internal	16 GB, 1.5 GB RAM, 1.5GB RAM
Slot	microSD, up to 128GB
Kecepatan	HSPA+, LTE Cat4 150.8/51.0 Mbps
Wifi	Wi-Fi 802.11 b/g/n, hotspot
O.S.	Android OS, v5.0 (Lollipop)
CPU	Qualcomm MSM8939 Snapdragon 615, Quad-core 1.4 GHz Cortex-A53 & quad-core 1.0 GHz Cortex-A53
GPU	Adreno 405
Sensor	 Accelerometer, proximity, compass
Kamera belakang	13 MP, 4160 x 3120 pixels, Autofocus,
Continious shooting, Digital Zoom,
Digital image stabilization, Geotagging,
Panorama, HDR, Touch Focus, Face detection,
White balance setting, ISO setting, Exposure compensation, Self-timer, Scene Mode, Video 2MP 1080p
Kamera depan	5 MP, 2560 x 1920 pixels @30fps
GPS	Yes
Java	Yes, via Java MIDP emulator
Fitur lain	– MP4/H.264 player
– MP3/WAV/eAAC+/Flac player
– Photo/video editor
– Document viewer
– Social Networking Services And Apps
– Voice Search
– Preloaded Apps
– Super Power Saving Mode
– Stylish Design
Baterai	Tipe Li-Ion 3000 mAh battery
Siaga : 350 jam up to 354 jam
Bicara Aktif : 15 jam, Music Playback 50 jam, Video Playback 8 jam</p>
    </ion-row>

</ion-content>
