<ion-header>
  <ion-toolbar>
    <ion-title>
      SAMSUNG
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>      
    <ion-grid>
        <ion-row>
          <ion-col size="6">
          <ion-tab-button tab="samsung">
            <div>
              <img src="/assets/galaxy j7.jpg" alt="" />
              <p>Samsung Galaxy J7</p> 
            </div>
          </ion-tab-button>
          </ion-col>
          <ion-col size="6">
          <ion-tab-button tab="samsung1">
            <div>
              <img src="/assets/galaxy s7.jpg" alt="" />
              <p>Samsung Galaxy S7</p>
            </div>
          </ion-tab-button>
          </ion-col>
          <ion-col size="6">
            <ion-tab-button tab="samsung2">
            <div>
              <img src="/assets/galaxy s9.jpg" alt="" />
              <p>Samsung Galaxy S9</p>
            </div>
          </ion-tab-button>
          </ion-col>
          <ion-col size="6">
            <ion-tab-button tab="samsung3">
            <div>
              <img src="/assets/ss.png" alt="" />
              <p>Samsung S10 +</p>
            </div>
          </ion-tab-button>
          </ion-col>
          <ion-col size="6">
            <ion-tab-button tab="samsung4">
            <div>
                <img src="/assets/samsung galaxy s8 plus.jpg" alt="" />
                <p>Samsung Galaxy S8 +</p>
            </div>
          </ion-tab-button>
          </ion-col>
          <ion-col size="6">
              <ion-tab-button tab="samsung5">
              <div>
                  <img src="/assets/samsung galaxy note 9.jpg" alt="" />
                  <p>Samsung Galaxy note 9</p>
              </div>
            </ion-tab-button>
          </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
