<ion-header>
  <ion-toolbar>
    <ion-title>
      About Me
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row class="ion-justify-content-center align-items-center style='height: 100%'">
          <ion-col size="5">
          <div>
            <img src="/assets/lee.jpg" alt="" />
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <p>
      Nama       : muhamad salim alfatah <br>
      Gender     : male <br>
      Age        : 22 <br>
      Nim        : 2016150079 <br> 
      <br>
    </p>
</ion-content>
