<ion-header>
  <ion-toolbar>
    <ion-title>Samsung Galaxy S7</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row class="ion-justify-content-center align-items-center style='height: 100%'">
          <ion-col size="5">
          <div>
            <img src="/assets/galaxy s7.jpg" alt="" />
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-row class="ion-justify-content-center align-items-center style='height: 100%'">
      <p>Samsung Galaxy S7</p>
      <p>
        Spesifikasi Samsung Galaxy S7
        NETWORK	Technology	
        GSM / HSPA / LTE
        LAUNCH	Announced	2016, February
        Status	Available. Released 2016, March
        BODY	Dimensions	142.4 x 69.6 x 7.9 mm (5.61 x 2.74 x 0.31 in)
        Weight	152 g (5.36 oz)
        Build	Front/back glass (Gorilla Glass 4), aluminum frame
        SIM	Single SIM (Nano-SIM) - G930F
        Hybrid Dual SIM (Nano-SIM, dual stand-by) - G930FD
           Samsung Pay (Visa, MasterCard certified)
        IP68 dust/water proof (up to 1.5m for 30 mins)
        DISPLAY	Type	Super AMOLED capacitive touchscreen, 16M colors
        Size	5.1 inches, 71.5 cm2 (~72.1% screen-to-body ratio)
        Resolution	1440 x 2560 pixels, 16:9 ratio (~577 ppi density)
        Protection	Corning Gorilla Glass 4
           Always-on display
        PLATFORM	OS	Android 6.0 (Marshmallow), upgradable to Android 8.0 (Oreo); TouchWiz UI
        Chipset	Exynos 8890 Octa (14 nm)
        CPU	Octa-core (4x2.3 GHz Mongoose & 4x1.6 GHz Cortex-A53)
        GPU	Mali-T880 MP12
        MEMORY	Card slot	microSD, up to 256 GB (uses shared SIM slot) - dual SIM model only
        Internal	32/64 GB, 4 GB RAM
        MAIN CAMERA	Single	12 MP, f/1.7, 26mm (wide), 1/2.55", 1.4µm, Dual Pixel PDAF, OIS
        Features	LED flash, auto-HDR, panorama
        Video	2160p@30fps, 1080p@60fps, 720p@240fps, HDR, dual-video rec.
        SELFIE CAMERA	Single	5 MP, f/1.7, 22mm (wide), 1/4.1", 1.34µm
        Features	Dual video call, Auto-HDR
        Video	1440p
        SOUND	Loudspeaker	Yes
        3.5mm jack	Yes
           24-bit/192kHz audio
        Active noise cancellation with dedicated mic
        COMMS	WLAN	Wi-Fi 802.11 a/b/g/n/ac, dual-band, Wi-Fi Direct, hotspot
        Bluetooth	4.2, A2DP, LE, aptX
        GPS	Yes, with A-GPS, GLONASS, BDS
        NFC	Yes
        Radio	No
        USB	microUSB 2.0, USB Host
        FEATURES	Sensors	Fingerprint (front-mounted), accelerometer, gyro, proximity, compass, barometer, heart rate, SpO2
           ANT+
        S-Voice natural language commands and dictation
        BATTERY	 	Non-removable Li-Ion 3000 mAh battery
        Charging	Fast battery charging 15W (Quick Charge 2.0)
        Qi/PMA wireless charging (market dependent)
        Talk time	Up to 22 h (3G)
        Music play	Up to 62 h
        MISC	Colors	Black, White, Gold, Silver, Pink Gold
        Models	SM-G930F, SM-G930A, SM-G930P, SM-G930V, SM-G930T, SM-G930R, SM-G930F, SM-G930FD, SM-G930W8, SM-G930S, SM-G930L, SM-G930K, SM-G9300
        SAR	1.40 W/kg (head)     1.59 W/kg (body)    
        SAR EU	0.41 W/kg (head)     0.62 W/kg (body)    
        Price	About 300 EUR
        TESTS	Performance	Basemark OS II: 2004 / Basemark OS II 2.0: 2128
        Basemark X: 32345
        Display	Contrast ratio: Infinite (nominal), 4.376 (sunlight)
        Camera	Photo / Video
        Loudspeaker	Voice 69dB / Noise 69dB / Ring 71dB
        Audio quality	Noise -92.5dB / Crosstalk -92.7dB
        Battery life	
        Endurance rating 80h</p>
    </ion-row>

</ion-content>
